$badge-border-radius: .1rem !default;
$badge-background-color: $primary !default;
$badge-border-color: #fff;

.badge {
    position: absolute;
    right: 0;
    top: 0;

    line-height: 1;
    vertical-align: baseline;
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: none;

    display: inline-block;
    background: $badge-background-color;
    border-radius: $badge-border-radius;
    padding: .1em .3em;
    border: 2px solid $badge-border-color;
    transform: translate(50%, -50%);
    box-sizing: content-box;

    color: #fff;
}

.toolbar-item{
    .badge{
        top: auto;
        right: auto;
        left: 35%;
        bottom: 25%;
    }
}
