@import "~styles/vars";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~styles/bulma-extensions";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$mdi-font-path: "~@mdi/font/fonts";
@import "~@mdi/font/scss/materialdesignicons";

html {
  overflow-y: hidden;
}

html, body, #app, .app-wrapper, .page-wrapper {
  height: 100%;
}

body {
  background: $page-background-color;
}

#app {
  display: flex;
  flex-direction: column;
}

.app-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}

// For use in App.vue. Is a wrapper for all pages
.page-wrapper {
  position: relative;
  overflow-y: auto;
  flex-grow: 1;
}

.page-content {
  background-color: $content-background-color;
}

// TODO: Give this a better name
.padding-container {
  padding: 1em;
}

.nav.menu {
  background-color: $content-background-color;
  border-bottom: 1px solid #e1e1e1;
  z-index: 1;
}

// TODO: Give this a better name and put it in a better place
.help-cursor {
  cursor: help;
}

// Place inside a b-tag
.tag .tag-loader {
  display: inline-flex;
  position: relative;
  &:after {
    @include loader;
  }
}

.text-after-icon {
  padding-left: 1em;
}
