@import "~styles/vars";

.sidebar {
  background-color: $sidebar-background-color;
  color: #6F7B7E;
  height: 100%;
  overflow-y: auto;
  flex-shrink: 0;

  .sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    color: $sidebar-item-color;

    &.link {
      border: 2px solid transparent;
      &.active {
        background: $sidebar-item-active-background-color;
        color: $sidebar-item-active-color;
        border-left-color: $primary;
      }
      &:hover {
        background: $sidebar-item-hover-background-color;
      }
    }
    .icon {
      display: inline-block;
    }
    .name {
      font-size: 12px;
      font-weight: bold;
      white-space: nowrap;
    }
  }

  &:not(.floating).collapsed .sidebar-item .name {
    display: none;
  }

  &.floating {
    position: absolute;
    transform: translateX(0);
    will-change: transform;
    z-index: $sidebar-z-index;
    transition: transform .2s cubic-bezier(0.52, 0.16, 0.24, 1);

    &.collapsed {
      transform: translateX(-100%);
    }
  }
}
